{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 my-4 rounded">
                <img src="{{ product.imageURL }}" class="thumbnail">
                <div class="box-element product">
                    <h6><strong style="font-size: larger;">{{ product.name }}</strong></h6>
                    <hr>
                    <button data-product={{ product.id }} data-action="add" class="btn btn-outline-dark add-btn update-cart">Add to Cart</button>
                    <h4 id="store-price"><strong>${{ product.price|floatformat:2 }}</strong></h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}